body {
    font-family: "Courier New", Courier, monospace;
}

h1, h2, p {
    margin: 0px;
    padding: 0px;
}

h1, h2 {
    font-weight: 200;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}
